@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

.left {
  width: 50%;
  background-color: #F3F5F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
.left a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  margin-top: 40px;
}
.left img {
  width: 90%;
  height: auto;
}

.right {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
}
.right h1 {
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 110% */
  letter-spacing: -0.4px;
}
.right p {
  font-family: Inter;
  color: #6C7275;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin: 24px 0 32px 0;
}
.right p a {
  color: var(--Green, #38CB89);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-left: 10px;
  text-decoration: none;
}
.right p a:hover {
  text-decoration: underline;
  color: #2c9264;
}
.right .form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.right .form input {
  width: 100%;
  height: 35px;
  font-size: 16px;
  border: none;
  outline: none;
}
.right .form .pswd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right .form .pswd .eye {
  cursor: pointer;
}
.right .form hr {
  width: 100%;
  margin-bottom: 32px;
}
.right .form .check {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  gap: 14px;
}
.right .form .check input {
  width: 20px;
  accent-color: #141718;
  cursor: pointer;
}
.right .form .check label {
  color: #6C7275;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  cursor: pointer;
}
.right .form .check label a {
  text-decoration: none;
  color: #141718;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}
.right .form .check label a:hover {
  text-decoration: underline;
}
.right button {
  width: 100%;
  border-radius: 8px;
  background: #141718;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  letter-spacing: -0.4px;
  padding: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px; /* Genişlik */
}

::-webkit-scrollbar-thumb {
  background-color: #343839; /* Scrollbar rengi */
  border-radius: 60px; /* Kenar yuvarlatma */
}

::-webkit-scrollbar-track {
  background-color: #cdcbcb; /* Scrollbar izleme bölgesi rengi */
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 100%;
    height: 70vh;
    margin-bottom: 10%;
  }
  .left img {
    width: 400px;
  }
  .right {
    width: 80%;
    margin-bottom: 10%;
  }
}
@media screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=sign_up.css.map */
